/* Set width for images */
img {
  width: 90px;
}

/* Set font size for spans */
span {
  font-size: 20px;
}

/* Styling for card headings */
.card-heading {
  font-size: 25px;
  font-weight: bold;
}

/* Center the image container */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/* Styling for card input */
.card-input {
  height: 100%;
  padding: 20px;
}

/* Styling for buttons */
button {
  background-color: green;
  color: white;
}

/* Container for buttons and paragraphs */
.button-paragraph-container {
  display: flex;
  align-items: center;
}

/* Margin for buttons in button-paragraph-container */
.button-paragraph-container button {
  margin-right: 10px;
}

/* Margin for paragraphs in button-paragraph-container */
.button-paragraph-container p {
  margin-top: 12px;
}

/* Styling for active paragraph */
.active-paragraph {
  color: blue;
  position: relative;
  font-style: bold;
}

/* Underline effect for active paragraph */
.active-paragraph::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  border-bottom: 2px solid blue;
}

/* Styling for horizontal stack */
.horizontal-stack {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Margin for paragraphs in horizontal stack */
.horizontal-stack p {
  margin-right: 10px;
}

/* Styling for discount percentage */
.discount-percentage {
  color: green;
}

/* Styling for sort container */
.sort-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

/* Styling for price container */
.price-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}

/* Cursor style for grab */
.grab-cursor {
  cursor: pointer;
}

/* range clear */

.range-clear {
  margin-bottom: 10px;
}

.sticky-column {
  position: sticky;
  top: 10px;
  /* Adjust the value as per your requirement */
  height: calc(100vh - 20px);
  /* Adjust the value as per your layout */
  overflow-y: auto;
}


/* Media query for smaller screens */
@media (max-width: 767px) {

  /* Flex direction change for sort container */
  .sort-container {
    flex-direction: column;
    align-items: flex-center;
  }

  /* Flex direction change for price container */
  .price-container {
    flex-direction: row;
    align-items: center;
  }

  /* Margin for paragraphs in price container */
  .price-container p {
    margin-right: 10px;
  }

}

/* Styling for slider container */
.slider-container {
  width: 300px;
}

/* Styling for range text */
.range-text {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

/* Cursor style for grab */
.grab-cursor {
  cursor: pointer;
}